<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
  <rules>

    <rule name="已导入的规则 1_rewrite">
		<match ignoreCase="false" url="^links/([1-9]+[0-9]*).html$"/>
		<conditions>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="links-.php?id={R:1}"/>
	</rule>
	<rule name="已导入的规则 2_rewrite">
		<match ignoreCase="false" url="^seo/([a-zA-Z0-9_.-]*)/([1-9]+[0-9]*).html$"/>
		<conditions>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="links1-.php?id={R:2}"/>
	</rule>
	<rule name="已导入的规则 3_rewrite">
		<match ignoreCase="false" url="^so/(.*?).html$"/>
		<conditions>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="search.php?text={R:1}"/>
	</rule>
	<rule name="已导入的规则 7_rewrite">
		<match ignoreCase="false" url="^so/"/>
		<conditions>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="search.php"/>
	</rule>
	<rule name="已导入的规则 8_rewrite">
		<match ignoreCase="false" url="^news-([a-zA-Z0-9_.-]*).html$"/>
		<conditions>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="news.php?article={R:1}"/>
	</rule>
	<rule name="已导入的规则 9_rewrite">
		<match ignoreCase="false" url="^sitemap.xml"/>
		<conditions>
			<add ignoreCase="false" input="{QUERY_STRING}" pattern="^(.*)$"/>
		</conditions>
		<action appendQueryString="false" type="Rewrite" url="dada/sitemap.php"/>
	</rule>
	    
    	<rule name="已导入的规则 10_rewrite">
		<match url="dir-([1-9]+[0-9]*)-([1-9]+[0-9]*).html$"/>
		<action type="Rewrite" url="dir.php?dirmulu={R:1}&amp;page={R:2}"/>
	</rule>
	
</rules>
</rewrite>
</system.webServer>
</configuration>